@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

:root {
  --primary-violet: hsl(257, 40%, 49%);
  --primary-soft-magenta: hsl(300, 69%, 71%);
  --font-heading: 'Poppins';
  --font-body: 'Open Sans';
  --font-400: 400;
  --font-600: 600;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(images/bg-mobile.svg);
  background-color: var(--primary-violet);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  height: 100%;
  padding: 2rem;
}

.logo {
  cursor: pointer;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
}

.logo img {
  max-width: 40%;
}

.illustrations {
  margin: 2.5rem 0 1rem;
}

.illustrations img {
  width: 100%;
}

.heading {
  text-align: center;
  margin: 1rem 0;
}

.heading h1 {
  font-family: var(--font-heading);
  font-weight: var(--font-600);
  color: white;
  font-size: 1.5rem;
}

.text {
  text-align: center;
  margin: 1rem 0;
}

.text p {
  font-family: var(--font-body);
  color: rgba(255, 255, 255, 0.6);
}

.register {
  background-color: white;
  color: var(--primary-violet);
  border-radius: 10rem;
  padding: 1rem 6rem;
  margin: 4rem auto 1rem;
  font-family: var(--font-body);
  font-weight: var(--font-400);
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  transition: 0.3s all ease-in-out;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  display: flex;
  justify-content: center;
  max-width: 2rem;
}

.register:active {
  transform: scale(0.9);
  background-color: var(--primary-soft-magenta);
  color: white;
}

.social-media {
  display: flex;
  justify-content: space-evenly;
  margin: 3rem 0;
  gap: 1rem;
}

.social-media a {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border: 1px solid white;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s all ease-in-out;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

.social-media a:active {
  color: var(--primary-soft-magenta);
  border: 1px solid var(--primary-soft-magenta);
  transform: scale(1.2);
}

.attribution {
  font-family: var(--font-heading);
  font-size: 11px;
  text-align: center;
  color: white;
}
.attribution a {
  color: var(--primary-soft-magenta);
}

@media screen and (min-width: 1100px) {
  main {
    padding: 4rem;
    display: grid;
    grid-template-areas:
      'header header '
      'illustrations content'
      'social-media social-media'
      'footer footer';
    align-items: flex-start;
    background-size: cover;
    background-position: unset;
  }

  .logo {
    grid-area: header;
  }

  .content {
    grid-area: content;
    max-width: 400px;
    margin-left: 1rem;
    margin-top: 9rem;
    align-content: flex-start;
    min-width: 100px;
  }

  .text,
  .heading {
    text-align: start;
  }

  .heading h1 {
    font-size: 2rem;
  }

  .register {
    margin: 0;
    transition: 0.2s all ease-in-out;
  }

  .register:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 13px 27px 10px;
    transform: scale(1.1);
    background-color: var(--primary-soft-magenta);
    color: white;
  }

  .register:active {
    transform: scale(1);
  }

  .illustrations {
    grid-area: illustrations;
    max-width: 920px;
  }

  .social-media {
    justify-content: flex-end;
    align-items: center;
    grid-area: social-media;
    transition: 0.1s all ease-in-out;
    margin: 2rem 0;
  }

  .social-media a:hover {
    color: var(--primary-soft-magenta);
    border: 1px solid var(--primary-soft-magenta);
    transform: scale(1.1);
  }

  .social-media a:active {
    transform: scale(1);
  }

  footer {
    grid-area: footer;
  }
}
